.settings{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 20px 0 0;
    justify-content: flex-end;
    &:first-child{
        font-size: 30px;
    }

}
.header{
    .title{

    }
    .descr{

    }
}
.schedule{

}