.wrapper{
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
height: 100%;
  border-radius: 5px;
  border: #CCCCCC 2px solid;
  margin-left: 10px;
  padding: 20px;
  box-sizing: border-box;
}

