.card{
  max-width: 350px;
  min-width: 200px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  h3{
    margin: 0;
  }
  img{
    width: 56px;
    height: 56px;
  }
  p{
    color: gray;
  }
}
.about{

}
.location {
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;

  .location__address {

    &:before {
      font-family: 'Font Awesome 5 Free';
      content: "\f005";
      padding-right: 10px;
      font-weight: 900;
    }
  }

  .location__filial {
    margin-left: 10px;
  }

}
.about_btn {
    padding: 5px 10px;
    background: rgb(242, 242, 242);
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    transition: .3s;
  cursor: pointer;
  color: black;
  &:hover{
    background: #CCCCCC;
  }
}

