.settings {
  display: flex;
  padding: 20px 20px 0 0;
  justify-content: flex-end;
    cursor: pointer;

  &:first-child {
    font-size: 30px;
    color: black;
    text-decoration: none;

    &:hover {
      i {


        transition: .3s;
        transform: scale(1.2)

      }

    }
  }

}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    .header {
        flex-grow: .5;

        .title {
        }

        .descr {

        }
    }

    .schedule {
        flex-grow: 0.5;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}